* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    color: #404040;
}

/* ===============
   Typography
=============== */

h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: #fff;
    margin: 2em 0;
}

h1 + p {
    font-size: 1.3125rem;
    font-weight: 900;
    color: #00A6C8;
    text-transform: uppercase;
    margin: 0;
}

strong {
    font-weight: 900;
}

h2 {
    font-size: 1.3125rem;
    margin: 0;
}

h2 + p {
    font-weight: 900;
    color: #00A6C8;
    margin-top: 0;
    text-transform: uppercase;
}

.top-text {
    font-size: .625rem;
    font-weight: 900;
    color: #00A6C8;
    margin-top: 0;
    text-transform: uppercase;
    order: -1;
}

.fine-print {
    font-size: 0.625rem;
    letter-spacing: 1px;
}


/* ===============
   Layout
=============== */

.intro {
    padding: 0 .25em 2em;
    display: flex;
    flex-direction: column;
    
    background-image: url(../images/astronaut.jpg);
    background-color: #404040;
    background-blend-mode: multiply;
    background-position: center;
    background-size: cover;
}


.main-content {
    padding: 2em 1em;
}


/* ===============
   media queries
=============== */

@media (min-width:500px) {
    body {
        font-size: 1.125rem;
        display: flex;
    }

    h1 {
        font-size: 3.5rem;
    }

    h2,
    .subtitle {
        font-size: 1.75rem;
    }

    .intro,
    .main-content {
        width: 50%;
        min-height: 100vh;
    }
}
